<!doctype html>
<html>
<head>
<meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=2" />
  <title>Home - Slumbermore</title>
  <meta name="robots" content="noindex,nofollow" />
  <script src="http://code.jquery.com/jquery-1.10.2.min.js"></script>
  <link rel="stylesheet" type="text/css" href="css/slumbermore.css">
    
    <!--[if ltIE9]>
       <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
     <![endif]-->

</head>

<body>
  <header>
        <div id="logo">
        <a href="slumbermore_templt.html"><img src="images/logo.png"></a>
        </div>
        
		<div id="utilitynav">
        <a href="">LOG-IN</a>
        <a href="">CART</a>
        </div>
        </div>
        <nav>
        <a href="">STORE</a>
        <a href="">HELP</a>
        <a href="">CONTACT</a>
        <a href="">ABOUT US</a>
        <div id="search">
        <input type="text" placeholder="Search here..." />&nbsp;<button type="submit" value="Search">SEARCH</button>
        </div>
        </nav> 
  </header>
  
  <article>
  <section class="col1">
   		<h1>Shop by Product Type:</h1>
        <ul>
        	<li><a href="#">Light Therapy</a></li>
           <li><a href="#">Blue Blocking</a></li>
           <li><a href="#">White Noise</a></li>
           <li><a href="#">Ear Plugs</a></li>
           <li><a href="#">Weekly Deals</a></li>
        </ul>
         
    </section>
    
    <section class="col2">
    	<img src="images/promo1.png"  alt="promo"/>
    </section>
  </article>
  
  <footer>
  	  <a href="">STORE</a>
	  <a href="">HELP</a>
  	  <a href="">CONTACT</a>
  	  <a href="">ABOUT US</a>
      <small>
      <p>&copy; 2014, All Rights Reserved ~ Site Design by Patrick Dodd</p>
      </small>
  </footer>
</body>
</html>
